<% if current_user.id != @users.ids %>
  <div>
    <div>
      <center>
        <% if !current_user.following?(@users) %>
          <%= form_for(current_user.active_relationships.build) do |f| %>
            <div>
              <%= hidden_field_tag :followed_id, @users.ids %>
            </div>
            <%= f.submit "Follow", class: "btn btn-primary btn-sm" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
            html: { method: :delete}) do |f| %>
            <%= f.submit "Unfollow", class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
      </center>
    </div>
  </div>
<% end %>