<div class="card">
  <img src="https://picsum.photos/500/150" class="card-img-top img-fluid" alt="lorem picsum">
  <div class="card-body">
    <%= gravatar_image_tag(@user.email, size: 64, alt: @user.name) %>
    <h5 class="card-title"><%= @user.name %></h5>
    <small class="text-muted">@<%= @user.username %></small>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <small class="card-text text-muted"><%= @user.tweets.count %> Tweets</small> 
    <small class="card-text text-muted"><%= @user.following.count %> Following</small>
    <%= link_to 'Following', followings_path(@user.username), class: "btn btn-outline-info btn-sm" %>
    <small class="card-text text-muted"><%= @user.followers.count %> Followers</small>
    <%= link_to 'Followers', followers_path(@user.username), class: "btn btn-outline-info btn-sm" %><br/>
    <% if current_user.following?(@user) == false && current_user != @user %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div>
          <%= hidden_field_tag :followed_id, @user.id %>
        </div>
        <%= f.submit "Follow", class: "btn btn-primary btn-sm" %>
      <% end %>
    <% end %>
  </div>
</div>